<div class="rounded-lg bg-white p-5 space-y-4 items-center justify-center w-full">
    <!-- Date -->
    <div class="flex flex-row gap-4">
        <div class="flex flex-col">
            <label>Start date</label>
            <div class="flex">
                <input class="border-2 rounded-lg p-2 outline-none w-[150px]" [matDatepicker]="startDatePicker"
                    [(ngModel)]="startDate" (ngModelChange)="validateDateTimes()" />
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </div>
        </div>

        <div class="flex flex-col">
            <label>End date</label>
            <div class="flex">
                <input class="border-2 rounded-lg p-2 outline-none w-[150px]" [matDatepicker]="endDatePicker"
                    [(ngModel)]="endDate" (ngModelChange)="validateDateTimes()" />
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </div>
        </div>
    </div>

    <!-- Time -->
    <div class="flex flex-row gap-4">
        <div class="flex flex-col">
            <label>Start time</label>
            <div class="flex">
                <input class="border-2 rounded-lg p-2 outline-none w-[150px]" [matTimepicker]="startTimePicker"
                    [(ngModel)]="startTime" (ngModelChange)="validateDateTimes()" />
                <mat-timepicker-toggle matSuffix [for]="startTimePicker"></mat-timepicker-toggle>
                <mat-timepicker #startTimePicker></mat-timepicker>
            </div>
        </div>

        <div class="flex flex-col">
            <label>End time</label>
            <div class="flex">
                <input class="border-2 rounded-lg p-2 outline-none w-[150px]" [matTimepicker]="endTimePicker"
                    [(ngModel)]="endTime" (ngModelChange)="validateDateTimes()" />
                <mat-timepicker-toggle matSuffix [for]="endTimePicker"></mat-timepicker-toggle>
                <mat-timepicker #endTimePicker></mat-timepicker>
            </div>
        </div>
    </div>
</div>