<div class="min-h-screen bg-gray-100  px-30 py-10">
    <h2 class="text-3xl font-bold mb-10">My bookings</h2>
    <div class="flex justify-center">
        <div class="bg-white w-[1280px] h-[476px] rounded-lg">
            <div class="space-y-6 grid place-items-center text-center py-20">
                <span class="text-5xl">🔍</span>
                <h1 class="text-3xl font-bold">You don’t have any bookings yet</h1>
                <span class="text-[#6B6B6B]">Start by choosing a coworking space</span>
                <a href="workspace" class="bg-indigo-600 text-white py-2 px-4 rounded-md w-[200px]">Select a
                    workspace</a>
            </div>
        </div>
    </div>
</div>