<h1 class="text-3xl font-medium pt-10 pl-20">Available workspaces</h1>

<ng-content *ngIf="workspaces$ | async as workspaces">

    
    <div class="flex my-5 p-5 mx-20 bg-white rounded-lg items-start" *ngFor="let workspace of workspaces$| async">
        <div>
            <img [src]="image + workspace.photos[0].url" alt="Main" class="rounded-lg w-[320px]" />
            <div class="flex space-x-3 pt-2">
                <div *ngFor="let photo of workspace.photos">
                    <img [src]="image + photo.url" alt="Small" class="rounded-lg opacity-50 w-[71px] " />
                </div>
            </div>
        </div>


        <div class="flex flex-col-2 flex-1 pl-5">
            <div class="space-y-5 mx-2 ">
                <div class="space-y-3">
                    <h1 class="text-4xl font-medium">{{workspace.name}}</h1>
                    <p class="text-[#6B6B6B]  w-[800px]">{{workspace.description}}</p>
                </div>

                <div class="grid grid-cols-2 gap-4 w-xl">
                    <div>
                        <h1 class="text-2xl font-medium">Amenities</h1>
                        <div class="flex space-x-2 pt-2 flex-wrap">
                            <div *ngFor="let amenity of workspace.amenities">
                                <img [src]="image + amenity.iconUrl" alt="Amenity" width="40"
                                    class="p-1 rounded-lg bg-[#F5F3FB]" />
                            </div>
                        </div>
                    </div>

                    <!-- If there are no rooms except Open Space, we show the general availability of workplaces -->
                    <ng-container *ngIf="!hasNonOpenSpaceRooms(workspace)">
                        <div *ngFor="let workspace of workspace.rooms">
                            <h1 class="text-2xl font-medium">Availability</h1>
                            <div class="flex space-x-4 pt-2 items-center">
                                <img src="icons/armchair.svg" width="40" class="p-1 rounded-lg bg-[#F5F3FB]" />
                                <h1 class="text-2xl font-medium">{{workspace.capacity}} desks</h1>
                            </div>
                        </div>
                    </ng-container>


                    <!-- If there are rooms other than Open Space, we show detailed capacity options and availability for each room -->
                    <ng-container *ngIf="hasNonOpenSpaceRooms(workspace)">
                        <div>
                            <h1 class="text-2xl font-medium">Capacity options</h1>
                            <div class="flex space-x-5 pt-2">
                                <img src="icons/user.svg" width="40" class="p-1 rounded-lg bg-[#F5F3FB]" />
                                <span class="text-2xl font-medium"
                                    *ngFor="let room of workspace.rooms; let last = last">
                                    {{ room.capacity }}<span *ngIf="!last">, </span>
                                </span>
                            </div>
                        </div>

                        <!-- Display the availability of rooms, except Open Space, with the number of rooms -->
                        <div>
                            <h1 class="text-2xl font-medium">Availability</h1>
                            <ul class="text-[#6B6B6B] pt-2">
                                <li *ngFor="let room of workspace.rooms"
                                    [hidden]="room.workspaceType === WorkspaceType.OpenSpace" class="pt-1">
                                    <span class="font-bold">
                                        {{ room.roomsCount }} {{ formatRoomsCountText(room.roomsCount) }}
                                    </span>
                                    {{ formatCapacityText(room.capacity) }}
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </div>


                <!-- Iterate through all bookings   -->
                <ng-container *ngFor="let book of (bookings$ | async)">

                    <!-- Display reservations that apply to the current workspace (workspace.id) -->
                    <div *ngIf="book.workspace.id === workspace.id" class="bg-[#EAF7EE] p-2 flex">
                        <img src="icons/success.svg" class="w-[25px] mr-2" />
                        <div>

                            <!-- Text indicating that this space is already booked -->
                            This workspace is already booked by
                            <span class="font-medium">{{ book.email }}</span>

                            <!-- If the workspace has rooms that are not Open Space, we display the number of seats by the capacity of the rooms -->
                            <ng-container *ngIf="hasNonOpenSpaceRooms(workspace); else openSpaceBlock">
                                for {{ book.rooms.capacity }} people
                            </ng-container>

                            <ng-template #openSpaceBlock>
                                for <span class="font-medium">{{ book.seatsBooked }}</span>
                                {{ book.seatsBooked === 1 ? 'person' : 'people' }}
                            </ng-template>

                            <!-- Booking period: start and end -->
                            from
                            <span class="font-medium">
                                {{ book.startDate | date: 'MMMM d, y, h:mm a' }}
                            </span>
                            to
                            <span class="font-medium">
                                {{ book.endDate | date: 'MMMM d, y, h:mm a' }}
                            </span>
                        </div>
                    </div>
                </ng-container>

            </div>
            <div>
                <button (click)="createBooking(workspace.coworkingId)"
                    class="bg-indigo-600 text-white p-2 rounded-md w-[160px] cursor-pointer">Book now</button>
            </div>
        </div>
    </div>
</ng-content>